@charset "UTF-8";
.container {
    width: 775px;
    height: 850px;
    background-color: #A4D2EC;
    margin-left: auto;
    margin-right: auto;
    border: 1px dotted #BABABA;
}
.header {
    height: 60px;
    width: 775px;
    background-color: #FFFFFF;
}
.logobox {
    width: 232px;
    height: 60px;
    float: left;
}
.nav {
    height: 60px;
    width: 500px;
    float: right;
}
.menu_01 {
    width: 89px;
    float: right;
    height: 60px;
}
.menu_02 {
    float: right;
    width: 73px;
    height: 60px;
}
.menu_03 {
    width: 85px;
    height: 60px;
    float: right;
}
.menu_04 {
    width: 67px;
    height: 60px;
    float: right;
}
.main_G {
    float: left;
    width: 232px;
    height: 720px;
}
.main_T {
    width: 500px;
    float: right;
    height: 720px;
    color: #2f2f2f;
    font-family: Gulim, GulimChe, Dotum;
    font-style: normal;
    font-size: 12px;
    line-height: 175%;
    padding-right: 20px;
}
.footer {
    float: left;
    width: 755px;
    background-color: #4E4E4E;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}
.title_T {
    color: #8B2D9B;
    font-family: Gulim, GulimChe, Dotum;
    font-weight: bold;
    font-size: 14px;
}
.footer_T {
    color: #D8D8D8;
    font-family: Gulim, GulimChe, Dotum;
    font-size: 11px;
    line-height: 140%;
}
